{% capture content_type_id %}{% include content-type-id.html post=include.post %}{% endcapture %}
{% assign content_type_id = content_type_id | strip %}

{% assign content_type = site.data.content_types[content_type_id] %}

{% if content_type %}
  {% if include.link == false %}
    <span class="content-type-badge">
      {% if content_type.icon %}
        <i class="{{ content_type.icon }}"></i>
      {% endif %}
      <span>{{ content_type.title }}</span>
    </span>
  {% else %}
    <a class="content-type-badge" href="{{ '/types/' | append: content_type_id | append: '/' | relative_url }}">
      {% if content_type.icon %}
        <i class="{{ content_type.icon }}"></i>
      {% endif %}
      <span>{{ content_type.title }}</span>
    </a>
  {% endif %}
{% endif %}
