{% assign recruit = site.data.recruit_mode %}

{% if recruit and recruit.strengths and recruit.strengths.size > 0 %}
  <section class="panel-section recruiter-strengths-panel">
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.core_strengths -}}</h2>
    <ul class="panel-link-list list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for strength in recruit.strengths limit: 4 %}
        {% assign href = strength.url %}
        {% unless href contains '://' %}
          {% assign href = href | relative_url %}
        {% endunless %}
        <li>
          <a
            href="{{ href }}"
            data-l10n-ko="{{ strength.title['ko-KR'] | default: strength.title | escape }}"
            data-l10n-en="{{ strength.title.en | default: strength.title | escape }}"
          >
            {% include localized-value.html value=strength.title lang=include.lang %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
