/*
 * The syntax dark mode styles (IntelliJ-like Dracula theme)
 */

@mixin dark-syntax {
  --language-border-color: #59617c;
  --highlight-bg-color: #282a36;
  --highlighter-rouge-color: #f8f8f2;
  --highlight-lineno-color: #6272a4;
  --inline-code-bg: rgba(189, 147, 249, 0.16);
  --code-color: #f8f8f2;
  --code-header-text-color: #bd93f9;
  --code-header-muted-color: #343746;
  --code-header-icon-color: #ff79c6;
  --clipboard-checked-color: #50fa7b;
  --filepath-text-color: #ffb86c;

  .highlight .gp {
    color: #6272a4;
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #f8f8f2;
    background-color: #282a36;
  }

  .highlight .err {
    color: #282a36;
    background-color: #ff5555;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #6272a4;
  }

  .highlight .cp,
  .highlight .kc,
  .highlight .kt,
  .highlight .kd,
  .highlight .nt {
    color: #ffb86c;
  }

  .highlight .o,
  .highlight .ow,
  .highlight .p,
  .highlight .pi {
    color: #f8f8f2;
  }

  .highlight .gi,
  .highlight .nc,
  .highlight .nn,
  .highlight .no,
  .highlight .ss,
  .highlight .nf,
  .highlight .fm {
    color: #50fa7b;
  }

  .highlight .gd {
    color: #ff5555;
    background-color: #3b2d2d;
  }

  .highlight .gh {
    color: #8be9fd;
    background-color: #282a36;
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv,
  .highlight .sa {
    color: #ff79c6;
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #f1fa8c;
  }

  .highlight .sr,
  .highlight .na {
    color: #8be9fd;
  }

  .highlight .si,
  .highlight .se,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #bd93f9;
  }

  strong,
  b {
    color: #8be9fd;
  }

  .language-java.highlighter-rouge {
    .highlight {
      .k,
      .kd,
      .kn,
      .kr,
      .kv {
        color: #ff79c6;
      }

      .kt,
      .nc,
      .nn {
        color: #8be9fd;
      }

      .nf,
      .na,
      .nd {
        color: #50fa7b;
      }

      .nb,
      .no {
        color: #bd93f9;
      }

      .mi,
      .mf,
      .il {
        color: #bd93f9;
      }

      .s,
      .sb,
      .sc,
      .s1,
      .s2 {
        color: #f1fa8c;
      }
    }
  }
}
