/*
 * The main dark mode styles (Dracula theme)
 */

 @mixin dark-scheme {
  /* Framework color */
  --main-bg: #282a36;
  --mask-bg: #44475a;
  --main-border-color: #6272a4;

  /* Common color */
  --text-color: #f8f8f2;
  --text-muted-color: #6272a4;
  --text-muted-highlight-color: #bd93f9;
  --heading-color: #ff79c6;
  --label-color: #8be9fd;
  --blockquote-border-color: #ff79c6;
  --blockquote-text-color: #6272a4;
  --link-color: #bd93f9;
  --link-underline-color: #ffb86c;
  --button-bg: #ff79c6;
  --btn-border-color: #ff79c6;
  --btn-outline-primary: #ff79c6;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #44475a;
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: #44475a;
  --checkbox-color: #ff79c6;
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, #282a36 0%, #44475a 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 121, 198, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #ff79c6;
  --site-subtitle-color: #6272a4;
  --sidebar-bg: #282a36;
  --sidebar-border-color: #44475a;
  --sidebar-muted-color: #6272a4;
  --sidebar-active-color: #f8f8f2;
  --sidebar-hover-bg: #6272a4;
  --sidebar-btn-bg: #44475a;
  --sidebar-btn-color: #bd93f9;
  --avatar-border-color: rgba(206, 206, 206, 0.9);

  /* Topbar */
  --topbar-bg: rgba(40, 42, 54, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: #6272a4;
  --search-icon-color: #bd93f9;
  --input-focus-border-color: #ff79c6;

  /* Home page */
  --post-list-text-color: var(--text-color);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #ff79c6;

  /* Posts */
  --toc-highlight: #ff79c6;
  --tag-hover: #6272a4;
  --tb-odd-bg: #44475a; /* odd rows of the posts' table */
  --tb-even-bg: #282a36; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #ff79c6;
  --btn-share-color: #ff79c6;
  --btn-share-hover-color: #ff79c6;
  --card-bg: #282a36;
  --card-hovor-bg: #6272a4;
  --card-shadow: rgba(21, 21, 21, 0.72) 0 6px 18px 0,
    rgba(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #ffb86c;
  --kbd-text-color: #f8f8f2;
  --kbd-bg-color: #44475a;
  --prompt-text-color: rgba(216, 212, 212, 0.75);
  --prompt-tip-bg: rgba(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgba(15, 164, 15, 0.81);
  --prompt-info-bg: rgba(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgba(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgba(255, 165, 0, 0.8);
  --prompt-danger-bg: rgba(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #ff5555;

  /* Tags */
  --tag-border: #6272a4;
  --tag-shadow: #282a36;
  --dash-color: #ff79c6;
  --search-tag-bg: #44475a;

  /* Categories */
  --categories-border: rgba(64, 66, 69, 0.5);
  --categories-hover-bg: #6272a4;
  --categories-icon-hover-color: white;

  /* Archive */
  --timeline-node-bg: #f8f8f2;
  --timeline-color: #ff79c6;
  --timeline-year-dot-color: var(--timeline-color);

  color-scheme: dark;

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      #282a36,
      #44475a,
      #44475a,
      #44475a,
      #282a36
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* Bootstrap 버튼 재정의 */
  .btn-outline-primary {
    color: var(--btn-outline-primary);
    border-color: var(--btn-outline-primary);

    &:hover {
      background-color: var(--btn-outline-primary);
      color: #fff; /* 혹은 원하는 텍스트 색상 */
    }
  }
} /* dark-scheme */
