---
# the default layout is 'page'
icon: fas fa-info-circle
order: 6
redirect_from:
  - /recruit/
image:
  path: /assets/img/og-about.png
  alt: 소개와 포트폴리오 페이지 미리보기
---

{% include lang.html %}

{% include recruit-mode.html lang=lang skip_posts=true %}

<section class="about-technical-focus">
  <h2 data-i18n="about.technical_focus">{{ site.data.locales[lang].about.technical_focus }}</h2>
  <ul>
    <li><code>Java</code>, <code>Kotlin</code>, <code>Go</code>, <code>Python</code></li>
    <li><code>Spring Boot</code>, <code>Spring Batch</code>, <code>JPA</code>, <code>QueryDSL</code>, <code>MyBatis</code></li>
    <li><code>MySQL</code>, <code>Redis</code>, <code>Amazon SQS</code>, <code>RabbitMQ</code></li>
    <li><code>AWS (EC2/RDS/ECS)</code>, <code>Docker</code>, <code>Jenkins</code></li>
    <li><code>Datadog</code>, <code>Sentry</code>, <code>JUnit 5</code>, <code>ArchUnit</code></li>
  </ul>
  <p class="about-blog-note" data-i18n="about.intro_summary_3">{{ site.data.locales[lang].about.intro_summary_3 }}</p>
</section>

{% include about-portfolio.html lang=lang %}

{% include representative-posts.html lang=lang surface='recruit' variant='full' limit=6 %}

{% include about-profile-hub.html lang=lang %}
